@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

html {
    scroll-behavior: smooth;
}

:root {
    --primary-color: #435334;
    --secondary-color: #3A855D;
}

::-webkit-scrollbar {
    height: 8px;
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    border-radius: 10px;
}

.profile-section {
    background-color: #f8f8f8;
    padding: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
    overflow-x: hidden;
}

.profile-content {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 0;
}

.profile-text {
    flex: 1;
    padding: 30px;
}

.profile-title {
    font-family: "Plus Jakarta Sans";
    font-weight: bold;
    color: #3a855d;
    margin-bottom: -1.5rem;
    font-size: 4rem;
}

.profile-slogan {
    font-family: "Plus Jakarta Sans";
    font-weight: 600;
    color: #435334;
    margin: 20px 0;
    font-size: 2rem;
    font-style: italic;
}

.profile-description {
    font-family: "Plus Jakarta Sans";
    color: #000;
    margin: -10px 0;
    font-size: 1.2rem;
    text-align: justify;
}

.profile-button1 {
    font-family: "Plus Jakarta Sans";
    background-color: #435334;
    color: white;
    border-radius: 31px;
    padding: 12px 24px;
    margin-top: 40px;
    font-weight: bold;
    font-size: 1.25rem;
}

.profile-button1:hover {
    background-color: #3a855d;
    color: white;
}

.profile-button2 {
    font-family: "Plus Jakarta Sans";
    background-color: transparent;
    color: #435334;
    border-radius: 31px;
    border: 2px solid #435334;
    padding: 12px 24px;
    margin-top: 40px;
    margin-left: 10px;
    font-weight: bold;
    font-size: 1.25rem;
}

.profile-button2:hover {
    background-color: #3A855D;
    color: white;
}

.profile-image {
    flex: 1;
    text-align: right;
    padding: 0;
    margin-right: 0;
}

.profile-image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px 0 0 10px;
}

@media (max-width: 768px) {
    .profile-section {
        padding: 20px 0;
    }

    .profile-content {
        flex-direction: column;
    }

    .profile-text {
        text-align: center;
    }

    .profile-title {
        font-family: "Plus Jakarta Sans";
        font-size: 2rem;
    }

    .profile-slogan {
        font-family: "Plus Jakarta Sans";
        font-size: 1.2rem;
    }

    .profile-description {
        font-size: 1rem;
    }

    .profile-image {
        justify-content: end;
    }

    .profile-image img {
        border-radius: 0;
    }

    .profile-button2 {
        margin-left: 0px;
    }
}

.problem-section {
    background-color: #f8f8f8;
    padding: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
    overflow-x: hidden;
}

.problem-content {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: start;
    padding-left: 20px;
    padding-right: 20px;
}

.problem-text {
    flex: 1;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.problem-title {
    font-family: "Poppins";
    font-weight: 600;
    color: #435334;
    font-size: 1.25rem;
    font-style: italic;
    text-align: center;
    letter-spacing: 6.2px;
}

.problem-description {
    font-family: "Plus Jakarta Sans";
    font-weight: 700;
    color: #435334;
    font-size: 2rem;
    text-align: center;
    margin-top: -10px;
}

.problem-main {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: flex-start;
    margin: 40px 20px;
}

.problem-image {
    display: block;
    flex: 1;
    padding: 0;
    margin-left: 20px;
    max-width: 100%;
}

.problem-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.problem-points-group {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 30px;
    gap: 30px;
}

.problem-points {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding-right: 18px;
    padding-left: 18px;
}

.problem-points-image {
    box-sizing: border-box;
    display: block;
    width: 60px;
    max-width: initial;
    height: 60px;
}

.problem-points-text {
    margin-left: 28px;
    align-items: center;
}

.problem-points-title {
    padding: 0;
    margin: 0;
    font: 700 1.375rem "Plus Jakarta Sans";
    color: #435334;
}

.problem-points-description {
    box-sizing: border-box;
    width: 100%;
    padding: 0;
    margin: 0;
    margin-top: 7px;
    font: 500 1rem "Poppins";
    color: black;
    text-align: justify;
}

@media (max-width: 768px) {
    .problem-section {
        padding: 20px 0;
    }

    .problem-content {
        flex-direction: column;
    }

    .problem-text {
        justify-content: flex-start;
    }

    .problem-title {
        font-family: "Plus Jakarta Sans";
        font-size: 2rem;
    }

    .profile-slogan {
        font-family: "Plus Jakarta Sans";
        font-size: 1.2rem;
    }

    .profile-description {
        font-size: 1rem;
    }

    .profile-image {
        justify-content: end;
    }

    .profile-image img {
        border-radius: 0;
    }

    .profile-button2 {
        margin-left: 0px;
        margin-top: 10px;
    }
}

.solution-section {
    background-color: #f8f8f8;
    padding: 50px 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-height: 400px;
    overflow-x: hidden;
}

.solution-content {
    max-width: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-left: 0;
    padding-right: 20px;
}

.solution-image {
    flex: 1;
    text-align: left;
    padding: 0;
    margin-left: 0;
}

.solution-image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px 0 0 10px;
}

.solution-text {
    flex: 1;
    padding: 20px;
    margin-left: 50px;
    align-items: stretch;
    text-align: left;
}

.solution-title {
    padding: 0;
    margin: 0;
    font: italic 600 1.25rem "Poppins", sans-serif;
    color: #435334;
    letter-spacing: 6.2px; 
}

.solution-description {
    font-family: "Plus Jakarta Sans";
    font-weight: 500;
    color: #435334;
    font-size: 2rem;
}

.highlight-text {
    font-weight: 700;
}

.solution-points-group {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 32px;
}

.solution-points {
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    padding: 12px 24px;
    background: #435334;
    border-radius: 34px;
}

.solution-points-image {
    height: 47px;
    width: 47px;
}

.solution-points-text {
    padding: 0;
    margin: 0;
    margin-left: 21px;
    font: 500 1.5rem "Poppins", sans-serif;
    color: white;
    white-space: pre-wrap;
}

.about-us-section {
    background-color: #f8f8f8;
    padding: 50px 0;
    display: flex;
    justify-content: center;
    align-items: start;
    min-height: 400px;
    overflow-x: hidden;
}

.about-us-content {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    padding-left: 20px;
    padding-right: 20px;
}

.about-us-text {
    flex: 1;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-us-title {
    font-family: "Poppins";
    font-weight: 600;
    color: #435334;
    font-size: 1.25rem;
    font-style: italic;
    text-align: center;
    letter-spacing: 6.2px;
}

.about-us-description {
    font-family: "Plus Jakarta Sans";
    font-weight: 500;
    color: #435334;
    font-size: 2rem;
    text-align: center;
}

.about-us-main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    gap: 10px;
}

.about-us-image {
    flex: 1;
    padding: 0;
    margin-left: 20px;
}

.about-us-image img {
    width: 200vw;
    height: 60vh;
    max-width: 100%;
    max-height: 100%;
}

.about-us-main-text {
    box-sizing: border-box;
    max-width: 600px;
    margin: 3px 30px 24px 20px;
}

.about-us-main-description {
    font: 500 1.25rem "Poppins", sans-serif;
    color: black;
    text-align: justify;
}

.highlighted-text {
    color: #3A855D;
    font-style: italic;
    font-weight: 800;
}

.about-us-main-content {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    margin-top: 50px;
    gap: 20px;
}

.about-us-vm-container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: #f8f8f8;
    border-radius: 26px 26px 12px 12px;
}

.about-us-vm-heading {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    height: 54px;
    padding-right: 23px;
    padding-left: 23px;
    background: #435334;
    border-radius: 26px 26px 26px 0px;
}

.about-us-vm-title {
    padding: 0;
    margin: 0;
    font: 800 1.25rem Poppins, sans-serif;
    color: white;
}

.about-us-vm-content {
    box-sizing: border-box;
    padding: 15px;
    border-radius: 0px 12px 12px 12px;
}

.about-us-vm-description {
    box-sizing: border-box;
    width: 100%;
    padding: 0;
    margin: 0;
    font: 500 18px Poppins, sans-serif;
    color: #435334;
    text-align: left;
}

.review-section {
    display: flex;
    flex-direction: column;
    padding: 50px 0;
    background-color: #f8f8f8;
}

.review-header {
    text-align: center;
    margin-bottom: 20px;
}

.review-title {
    font: italic 600 1.25rem "Poppins";
    color: #435334;
    letter-spacing: 6.2px; 
}

.review-description {
    font-family: "Plus Jakarta Sans";
    font-weight: 500;
    color: #435334;
    font-size: 2rem;
    margin-bottom: 40px;
}

.review-layout {
    overflow-x: auto;
    display: flex;
    justify-content: flex-start; /* Mengatur konten dimulai dari kiri */
    padding-bottom: 20px;
    scroll-behavior: smooth; /* Menambahkan efek scroll halus */
}

.review-item-icon-up {
    box-sizing: border-box;
    display: block;
    width: 43px;
    max-width: initial;
    height: 37px;
}

.review-item-icon-down {
    box-sizing: border-box;
    display: block;
    width: 43px;
    max-width: initial;
    height: 37px;
    margin-top: 355px;
}

.review-content {
    display: flex;
    gap: 20px;
}

.review-item {
    flex: 0 0 auto;
}

.review-image {
    width: 100%;
    height: auto;
    border-radius: 12px;
}

/* Batas tampilan gambar pertama terlihat penuh di desktop */
.review-content::before {
    content: '';
    min-width: 10px;
}

.review-summary {
    text-align: center;
    margin-top: 40px;
    padding: 0 100px;
    font-family: "Plus Jakarta Sans";
    font-weight: 400;
    font-size: 40px;
    color: #435334;
}

.review-highlight-text {
    font-family: "Plus Jakarta Sans";
    font-weight: 700;
}

.join-section {
    background-color: #f8f8f8;
    padding: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
    overflow-x: hidden;
}

.join-content {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 0;
}

.join-text {
    flex: 1;
    padding: 20px;
    margin: 0 40px 0 40px;
    justify-content: center;
    align-items: stretch;
}

.join-title {
    font-family: "Poppins";
    font-weight: 500;
    color: #435334;
    font-size: 1.25rem;
    font-style: italic;
    text-align: left;
    letter-spacing: 6.2px;
}

.join-slogan {
    font: 500 2.5rem "Plus Jakarta Sans";
    color: #435334;
}

.join-description {
    font-family: "Poppins";
    font-size: 1.5rem;
    font-weight: 400;
    color: black;
    text-align: justify;
    margin: 0;
}

.join-button {
    font-family: "Plus Jakarta Sans";
    background-color: #435334;
    color: white;
    border-radius: 31px;
    padding: 12px 24px;
    margin-top: 30px;
    font-weight: bold;
    font-size: 1.25rem;
}

.join-button:hover {
    background-color: #3a855d;
    color: white;
}

.join-image {
    flex: 1;
    text-align: right;
    padding: 0;
    margin-right: 0;
}

.join-image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px 0 0 10px;
}

.founders-section {
    background-color: #f8f8f8;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 400px;
    overflow-x: hidden;
}

.founders-content {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}

.founders-text {
    flex: 1;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    text-align: center;
}

.founders-title {
    font: italic 600 1.25rem "Poppins";
    color: #435334;
    letter-spacing: 6.2px; 
}

.founders-description {
    font-family: "Plus Jakarta Sans";
    font-weight: 500;
    color: #435334;
    font-size: 2rem;
    margin-top: -10px;
}

.founders-card-layout {
    display: flex;
    flex-direction: row;
    gap: 63px;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 27px;
}

.founders-card {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    width: 240px;
    padding-bottom: 4px;
}

.founders-image {
    box-sizing: border-box;
    display: block;
    max-width: initial;
    height: 50vh;
    margin-right: 17px;
    margin-left: 18px;
}

.founders-card-text {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    margin-top: 19px;
}

.founders-card-name {
    padding: 0;
    margin: 0;
    font: 800 1.5rem "Plus Jakarta Sans", sans-serif;
    color: #435334;
    text-align: center;
}

.founders-card-position {
    padding: 0;
    margin: 10px 0 0 0;
    font: 500 1.125rem "Plus Jakarta Sans", sans-serif;
    color: #435334;
    text-align: center;
}
