@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    background-color: #f8f8f8;
}

:root {
    --primary-color: #435334;
    --secondary-color: #3A855D;
}

.color-custom-strong {
    color: #569673;
}

.banner-image {
    text-align: right;
    padding: 0;
    margin-right: 0;
}

.banner-image img,
.daftar-mitra-image img {
    width: 100%;
    height: auto;
}

.banner-image img {
    width: 100%;
    height: auto;
    border-radius: 10px 0 0 10px;
    margin-right: -120px;
    /* Only round the left side */
}

.banner-title {
    color: #435334;
    font-family: "Plus Jakarta Sans";
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.banner-subtext {
    color: #000;
    text-align: justify;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 80%;
    margin-block: 20px;
}

.banner-button {
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    background-color: var(--primary-color);
    padding: 16px 32px;
    border-radius: 60px;
}


.color-custom-strong {
    color: #569673;
}

.gabunglah-mitra-image-mobile img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-left: -30px;
}

.gabunglah-mitra-image img {
    width: 100%;
    height: auto;
    border-radius: 10px 0 0 10px;
    margin-left: -120px;
    /* Only round the left side */
}


.gabunglah-mitra-title {
    font-family: "Plus Jakarta Sans";
    font-weight: bold;
    color: #435334;
    font-size: 2.75rem;
}

.points-section {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.point {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    /* Increase bottom margin for better spacing */
}

.point-number {
    background-color: #435334;
    color: #fff;
    border-radius: 50%;
    min-width: 50px;
    /* Use min-width and min-height for flexibility */
    min-height: 50px;
    /* Ensures the circle can grow if the font size increases */
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: bold;
    margin-right: 20px;
}

.point p {
    font-family: "Plus Jakarta Sans", sans-serif;
    color: #435334;
    margin: 0;
    font-size: 1.65rem;
    /* Larger font size */
    line-height: 1.2;
    /* Ensures better readability and prevents text overlap */
}

.mitra-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.mitra-header {
    text-align: center;
    margin-bottom: 20px;
}

.mitra-title {
    font-weight: 500;
    font-size: 40px;
    color: #435334;
    margin-top: 80px;
    margin-bottom: 40px;
}

.highlight {
    font-weight: 800;
}

.mitra-layout {
    overflow-x: scroll;
    display: flex;
    gap: 20px;
    justify-content: flex-start;
    /* Mengatur konten dimulai dari kiri */
    padding-bottom: 20px;
    scroll-behavior: smooth;
    /* Menambahkan efek scroll halus */
}

::-webkit-scrollbar {
    height: 8px;
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    border-radius: 10px;
}


.mitra-item {
    flex: 0 0 auto;
}

.mitra-image {
    width: 100%;
    height: auto;
    border-radius: 12px;
}

/* Batas tampilan gambar pertama terlihat penuh di desktop */
.mitra-content::before {
    content: '';
    min-width: 10px;
    /* Tambahkan padding kiri di awal */
}


.mitra-summary {
    margin-top: 50px;
    color: var(--primary-color);
    text-align: center;
    font-family: "Plus Jakarta Sans" !important;
    font-size: 34px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.bold {
    font-weight: 700;
}

.daftar-mitra-image {
    text-align: right;
    padding: 0;
    margin-right: 0;
}

.daftar-mitra-image img {
    width: 100%;
    height: auto;
    border-radius: 10px 0 0 10px;
    margin-right: -110px;
    /* Only round the left side */
}

.daftar-mitra-title {
    color: #435334;
    font-family: "Plus Jakarta Sans";
    font-size: 43px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.daftar-mitra-subtext {
    color: #000;
    text-align: justify;
    font-family: "Plus Jakarta Sans";
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 80%;
    margin-block: 20px;
}

.daftar-mitra-button {
    margin-top: 10px;
    color: #FFF;
    text-align: center;
    font-family: "Plus Jakarta Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    background-color: var(--primary-color);
    padding: 16px 32px;
    border-radius: 60px;
}

/* Responsive Styles */
@media (max-width: 991.98px) {
    .banner-title {
        font-size: 32px;
        /* Ukuran font lebih kecil di mobile */
    }

    .points-section {
        margin-top: 40px !important;
    }

    .banner-subtext {
        width: 100%;
    }

    .banner-image img {
        width: 100%;
        height: auto;
        border-radius: 10px 0 0 10px;
        margin-right: -50px;
        /* Only round the left side */
    }

    .gabunglah-mitra {
        margin-top: 80px !important;
        margin-bottom: 30px !important;
    }

    .gabunglah-mitra-title {
        font-size: 32px;
        text-align: center;
        /* Ukuran font lebih kecil di mobile */
    }

    .points-section p {
        font-size: 20px;
    }

    .mitra-layout {
        overflow-x: scroll;
        padding-left: 2px;
        /* Mengurangi jarak kiri di mobile */
    }

    .mitra-item {
        min-width: 60%;
        max-width: 60%;
    }

    /* Adjusting text size for mobile */
    .mitra-title {
        margin-top: 20px;
        margin-bottom: 10px;
        font-size: 24px;
        /* Ukuran font lebih kecil di mobile */
    }

    .mitra-summary {
        font-size: 20px;
        /* Ukuran font lebih kecil di mobile */
        margin-top: 20px;
        /* Mengurangi jarak atas untuk mobile */
    }

    .gabunglah-mitra-image {
        display: none;
    }

    .daftar-mitra-title {
        margin-top: 20px;
        font-size: 32px;
        /* Ukuran font lebih kecil di mobile */
    }


    .daftar-mitra-subtext {
        width: 100%;
        text-align: center;
        font-size: 20px;
    }

    .daftar-mitra-image img {
        margin-top: 50px;
        width: 100%;
        height: auto;
        border-radius: 10px 0 0 10px;
        margin-right: -50px;
        /* Only round the left side */
    }
}

@media (min-width: 992px) {
    .mitra-layout {
        overflow-x: scroll;
        padding-left: 20px;
        /* Menambahkan ruang agar gambar pertama terlihat utuh */
    }

    .mitra-item {
        min-width: 400px;
        /* Gambar lebih besar pada desktop */
        max-width: 400px;
    }

    .gabunglah-mitra-image-mobile {
        display: none;
    }
}