@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

html {
    scroll-behavior: smooth;
}

:root {
    --primary-color: #435334;
    --secondary-color: #3A855D;
}

section#cart-address {
    background-color: var(--primary-color);
    border-radius: 0px 0px 20px 20px;

}

.box-cart-address {
    background-color: #fff;
    border-radius: 10px;
    /* margin: 10px 10px 10px 10px; */
    padding: 20px 20px;
    /* box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1); */
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 49%;
}

.box-cart-address img {
    width: 32px;
}

.body-cart-address {
    color: #000;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.title-cart-address {
    color: #989898;
    font-family: "Plus Jakarta Sans";
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

section#search-bar {
    margin: 40px 0px;
}

#search-bar input {
    border: 1px solid #c5c5c5;
    border-radius: 10px;
    padding: 10px 20px;
    width: 100%;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

#search-bar button {
    background-color: var(--primary-color);
    border: none;
    border-radius: 10px;
    padding: 10px 30px;
}

#search-bar button img {
    width: 30px;
}

.banner-title {
    color: #435334;
    font-family: "Plus Jakarta Sans";
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 20px;
}

.banner-mobile img {
    width: 100%;
}

.banner-desktop img {
    width: 100%;
}

.cards-wrapper {
    margin: 20px 0px;
    overflow-x: scroll;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    height: 8px;
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    border-radius: 10px;
}

.card {
    width: 350px;
    box-shadow: 0px 4px 4px 0px rgba(58, 133, 93, 0.5);
    border: none;
    flex-shrink: 0;
}

.card img {
    width: 100%;
    border-radius: 10px;
}

.card-title,
.card-price {
    color: #435334;
    font-family: "Plus Jakarta Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.card-price sup {
    font-size: 12px;
    margin-top: 10px;
}

.card-mitra {
    color: #435334;
    font-family: Poppins;
    font-size: 12px;
    font-style: italic;
    font-weight: 500;
    line-height: normal;
    margin-top: -10px;
}

.card-desc {
    color: #7C7C7C;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 136.913%;
    margin: 10px 0px;
    /* 21.906px */
}

.card-button button {
    background-color: var(--primary-color);
    border: none;
    border-radius: 10px;
    color: #fff;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 10px 20px;
    width: 100%;
    margin-top: 15px
}

section#mitra-kami {
    margin-top: 60px;
}

#mitra-kami .card {
    width: 260px;
    background-color: var(--primary-color);
    padding: 20px;
}

#mitra-kami .card img {
    width: 60%;
    border-radius: 10px;
}

#mitra-kami .card-img {
    padding-block: 20px;
}

.mitra-title {
    color: #FFF;
    text-align: left;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.mitra-product-rating div {
    color: #F8F8F8;
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

#mitra-kami .card-button button {
    background-color: #FFF;
    color: var(--primary-color);
}

#menu-lainnya .card {
    width: 100%;
}

section#menu-lainnya {
    margin-top: 60px;
}

footer .brand-name {
    color: #3A855D;
    font-family: "Plus Jakarta Sans";
    font-size: 64px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

@media (max-width: 991.98px) {
    .banner-title {
        font-size: 24px;
    }

    .box-cart-address {
        width: 100%;
    }

    .box-address {
        display: none !important;
    }

    .body-cart-address {
        font-size: 12px;
    }

    .title-cart-address {
        font-size: 8px;
    }

    section#search-bar {
        margin: 20px 0px;
    }

    #search-bar input {
        border: 1px solid #c5c5c5;
        border-radius: 10px;
        padding: 10px 20px;
        width: 100%;
        font-family: Poppins;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

    #search-bar button img {
        width: 20px;
    }

    #search-bar button {
        padding: 10px 20px;
    }

    .banner-desktop {
        display: none;
    }

}

@media (min-width: 992px) {
    .banner-mobile {
        display: none;
    }
}